body {
    background-color: gray;
    font-family: sans-serif;
  }
  
  #campo-do-jogo {
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
  }